body {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.card {
    background-color: aquamarine;
}


body {
    color: azure;
}

body {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}
body {
    text-align: center;
}
