h1 {
    color:cornsilk
}
h1 {
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
}
h1 {
    text-align: center;
}
h1 {
    font-size:xx-large
}

h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
h1 {
    text-decoration: underline;
}

body {
    height: 100vh;
    background-image: url("madri2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}   